html,
body {
    overflow: hidden;
    /*font-family: 'Libre Baskerville', serif;*/
}
/*
#canvas-fixed {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: -1;
}*/

#canvas {
    /*display: block;*/
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: -1;
    /*pointer-events: none;*/
}
