.faq-title {
    margin: 10% 15% 5%;
    text-align: left;
	font-size: 100px;
	color: #fff
}

.tw-title {
	text-shadow: 2px 2px 0px #F581AB;
}

.faq-text {
    font-size: 20px;
    line-height: 1.5;
    margin: 5% 15% 10%;
    letter-spacing: 2px;
    text-align: justify;
}

.faq-text > p {
    font-size: 16px;
    color: #404040;
}

.faq-text > p b {
    font-size: 18px;
    color: black;
}

/*http://codepen.io/bernardo/pen/ugApF*/
.letter{
  display: inline-block;
  font-weight: 600;
  font-size: 100px;
  margin: 0em;
  position: relative;
  color: #F581AB;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(170,70,100,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}