.hackntu-header {
    position: relative;
    background-image: url(../img/header-bg.jpg);
    /*background-color: white;*/
}

.hackntu-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.is-compact .mdl-layout__title span {
    display: none;
}

.hackntu-logo-row {
    min-height: 200px;
}

.is-compact .hackntu-logo-row {
    min-height: auto;
}

.hackntu-logo {
    background: url(../img/logo/double-pink.png) 50% no-repeat;
    /*background-size: cover;*/
    height: 140px;
    width: 358px;
    margin: auto auto 10px;
}

.is-compact .hackntu-logo {
    background: url(../img/logo/single-pink.png) 50% no-repeat;
    height: 40px;
    width: 300px;
    /*Original Size is 338px X 80px*/
    margin-top: 7px;
}

.hackntu-navigation-row {
    background-color: rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    height: 45px;
}

.hackntu-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.hackntu-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
}

.hackntu-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.hackntu-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.hackntu-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 64, 129);
    left: 15%;
}
